<div class="checkout-container">
  <div class="checkout">
    <h2>Select a Service</h2>

    <form [formGroup]="checkoutForm">
      <div *ngIf="services.length > 0">
        <!-- Only show the select if services are available -->
        <label for="service">Service</label>
        <select
          id="service"
          formControlName="selectedServiceId"
          (change)="onServiceChange($event)"
        >
          <option value="" disabled>Select a service</option>
          <option *ngFor="let service of services" [value]="service.id">
            {{ service.name }} - ${{ service.amount }}
          </option>
        </select>
      </div>
    </form>

    <button class="pay-now-button" (click)="payNow()" [disabled]="isProcessing">Pay Now</button>

    <div *ngIf="isProcessing" class="loading">
      Payment is being processed, please wait...
    </div>
    
   
  </div>

  
  <div id="checkout">
    <!-- Checkout will insert the payment form here -->
  </div>
</div>
