<div class="input-buttons-container" [formGroup]="accountForm">
  <label for="accountId">Enter Account ID:</label>
  <input
    id="accountId"
    type="text"
    formControlName="accountId"
    placeholder="Type something..."
  />

  <div class="buttons-container">
    <button
      (click)="onButton1Click()"
      [disabled]="isProcessingButton1 || accountForm.invalid"
    >
      Load Payments
    </button>
    <button
      (click)="onButton2Click()"
      [disabled]="isProcessingButton2 || accountForm.invalid"
    >
      Load Payouts
    </button>
  </div>
</div>
