<div class="input-buttons-container">
    <label for="textInput">Enter Account ID:</label>
    <input
      id="textInput"
      type="text"
      [(ngModel)]="inputText"
      placeholder="Type something..."
    />
  
    <div class="buttons-container">
      <button
        (click)="onButton1Click()"
        [disabled]="isProcessingButton1"
      >
        Load Payments
      </button>
      <button
        (click)="onButton2Click()"
        [disabled]="isProcessingButton2"
      >
        Load Payouts
      </button>
    </div>
  </div>
  
